body{

    background-color: black;
    font-family:Arial, Helvetica, sans-serif ;
    
}

nav,ul,a{
    
    display: flex;
    justify-content: space-between;
   
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 20px;
     list-style-type: none; 
   
}


img {

    width: 150px;
    height: 150px;
    border-radius: 50% ;
    border: 5px solid green;
}

.foto{
    text-align: center;

}

.info{
     
    padding-left: 60px;
     color: white;     
}
h1{
    color: green;
     text-align: center;
}


.p1,.p2,.p3,.p4{
    
    padding-left: 60px;
     color: white;
}


h4{
     list-style-type: circle ;
     color: white;
}

.link{

    
    display: flex;
    justify-content: space-between;
   
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 20px;
     list-style-type: none; 

}